<!DOCTYPE html>
<html lang="es-mx">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
</head>
<body>
    <h1>Clientes satisfechos</h1>
    <!-- Esta recorriendo el modelo con un for -->
    {% for clientes in clientes %}
    <h2>{{clientes.Nombre}}</h2>
    <h2>{{clientes.Apellidos}}</h2>
    <h2>{{clientes.Correo}}</h2>
    <h2>{{clientes.TipoCliente}}</h2>
    <br>
    {% endfor %}
</body>
</html>