{% load static %}
<!DOCTYPE html>
<html lang="es-mx">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Postres Las Delicias</title>
    <link rel="stylesheet" href="{% static 'css/principal.css' %}">
</head>
<body>
    <header class="header">
        <nav class="navbar">
            
            <h1 class="logo">Postres Las Delicias</h1>
            <ul class="menu">
                <li><a class="activa" href="#">Inicio</a></li>
                <li><a href="{% url 'contacto' %}">Contacto</a></li>
                <li><a href="#">Recetas</a></li>
                <li><a href="#">Top 10</a></li>
                <li><a href="#">Ofertas</a></li>
            </ul>
        </nav>
    </header>

    <section class="inicio">
        <div class="contenido">
            <h1>Bienvenido</h1>
            <h3>Postreria Las Delicias</h3>
            <p>¡Bienvenidos a nuestra página de postres! Nos complace darles la bienvenida a nuestro sitio web, donde encontrarán una amplia variedad de deliciosas recetas de postres para satisfacer su paladar dulce. Desde clásicos tradicionales hasta creaciones innovadoras, nuestra página está llena de inspiración para todos los amantes de los postres. Ya sea que estén buscando recetas para ocasiones especiales o simplemente para disfrutar en casa, estamos seguros de que encontrarán algo que les encantará.</p>
        </div>
    </section>

<!-- https://colorhunt.co/palette/feff86b0daff19a7ce146c94 -->

<!--     <main>
        <img src="{% static 'img/pexels.jpg' %}" alt="">
    </main> -->
   <!--  <footer>
        <address>
            <p>Avenida san pedro</p>
        </address>
    </footer> -->
</body>
</html>