{% load static %}
<!DOCTYPE html>
<html lang="es-mx">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sucursales</title>
    <link rel="stylesheet" href="{% static 'css/sucursal.css' %}">
</head>
<body>
    <header class="header">
        <nav class="navbar">
            
            <h1 class="logo">Postres Las Delicias</h1>
            <ul class="menu">
                <li><a href="{% url 'index' %}">Inicio</a></li>
                <li><a href="{% url 'contacto' %}">Contacto</a></li>
                <li><a class="activa" href="#">Sucursales</a></li>
                <li><a href="{% url 'clientes' %}">Clientes</a></li>
                <li><a href="{% url 'automoviles_envios' %}">Automoviles de envios</a></li>
            </ul>
        </nav>
    </header>

    <section class="contenedor">
        <div class="contenido">
            <h1>Sucursales con las que contamos</h1>
            <p>De momento contamos solo con una unica sucursal la cual esta ubicada en Monterrey, Nuevo Leon, en la Av. Gonzalitos en la cual contamos con todos los servicios de preposteria asi como la venta de productos para reposteria</p>
        </div>
        <div class="cont">
            <h1>¡Encuentranos en esta ubicacion!</h1>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8551.8750988405!2d-100.35520278601483!3d25.68387008849839!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x866295f9fe2c8eab%3A0x9cd8b82fadc13d30!2sReposteria%20Fina%20de%20Lili!5e0!3m2!1ses!2smx!4v1684297083842!5m2!1ses!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>


   <!--  <h1>Localiza nuestras sucursales</h1> -->

</body>
</html>